/* Základní nastavení a vlastnosti */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definice proměnných */
:root {
    /* Barvy */
    --color-primary: #ffcc00;
    --color-secondary: #fee7bf;
    --color-background: #1e1e1e;
    --color-surface: #292929;
    --color-surface-light: #333333;
    --color-surface-bright: #444444;
    
    /* Barvy textu */
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --text-muted: #aaaaaa;
    --text-dim: #7c7c7c;
    
    /* Typografie, velikost písma */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-ml: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 28px;
    --font-size-xxxl: 32px;

    /* Barvy pro režim vysokého kontrastu */
    --color-primary-hc: #ffff00; 
    --color-secondary-hc: #00ffff;
    --color-background-hc: #000000;
    --color-surface-hc: #111111;
    --text-primary-hc: #ffffff;
    --text-secondary-hc: #ff00ff;
    --text-muted: #eeeeee;
    --text-dim: #cccccc;
}

/* Základní styl pro celou stránku */
body { 
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--text-primary);
}

/* Změna barev celých stránek v režimu vysokého kontrastu */
body.high-contrast {
    --color-primary: var(--color-primary-hc);
    --color-secondary: var(--color-secondary-hc);
    --color-background: var(--color-background-hc);
    --color-surface: var(--color-surface-hc);
    --text-primary: var(--text-primary-hc);
    --text-secondary: var(--text-secondary-hc);
    --text-muted: var(--text-muted-hc);
    --text-dim: var(--text-dim-hc);
}

/* HEADER */
/* Základní layout headru */
.header { 
    width: 100%;
    padding: 15px;
    background-color: var(--color-surface);
    display: flex; /* Pro inline zarovnání použijeme flexbox */
    align-items: center;
    justify-content: space-between;
    position: fixed; /* Pevné umístění na horní část stránky, header tedy bude vždy přítomen např. při posutuní stránky dolů */
    top: 0;
    z-index: 1000; /* Z-index určuje vrstvu, ve které se element nachází. Čím vyšší číslo, tím má element vyšší prioritu se zobrazovat nad ostatními elementy */
}

.brand img {
    height: 40px;
    margin-right: 50px; /* Menší odsazení od pravého okraje, abychom docílili zarovnání navigace na střed */
}

/* Tlačítko pro otevření menu na mobilních zařízeních */
.burger-menu {
    display: none; /* Skrytí tlačítka pro desktopové zařízení */
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 28px;
    background-color: var(--color-surface-bright-bg);
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    cursor: pointer; /* Ukazatel myši se změní na ručku pro zlepšení interaktivity s uživatelem (desktop) */
    align-items: center;
    padding: 4px;
}

.burger-menu span { /* Tři čáry tvořící burger menu */
    display: block;
    width: 24px;
    height: 3px;
    background: var(--text-primary);
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease; /* Plynulá změna barvy a transformace při najetí myší */
}

/* Animace burger menu při rozkliknutí (změna třídy open v Js) */
.burger-menu.open span:nth-child(1) { /* První čára burger menu se otočí o 45 stupňů a posune (nth-child = přiřazuje prvky na základě jejich pozice v rámci nadřazeného prvku */
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0; /* Druhá čára burger menu se zprůhlední */
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px); /* Třetí čára burger menu se otočí o -45 stupňů a posune (vznikne tvar X) */
}

/* Hlavní navigační menu */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Seznam odkazů v navigačním menu */
.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-grow: 1; /* Roztáhne odkazy na celou šířku flexboxu */
    justify-content: center;
    text-align: center;
}

.nav-links li a {
    position: relative;
    padding: 8px 16px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: var(--font-size-ml);
    transition: color 0.3s ease;
    text-decoration: none;
}

/* Pseudo-element ::after vytvoří podtržítko pod odkazem pro lepší vizuální oddělení */
.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1.5px;
    bottom: 0;
    left: 50%;
    background-color: var(--color-primary);
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

/* Při najetí myší se podtržítko rozšíří na 25% volného místa */
.nav-links li a:hover::after {
    width: 25%;
}

/* Při najetí myší na odkaz se změní barva textu */
.nav-links li a:hover {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Add a white glow effect */
}

/* Žádné potržení pro premium tlačítko */
.premium.no-glow:after {
    content: none;
}

/* Pro premium se text tlačítka nijak neměni, zůstane černé */
.nav-links .premium.no-glow {
    color: #000000;
}

.nav-links .premium {
    padding: 8px 16px;
    background-color: var(--color-primary);
    border-radius: 4px;
    font-weight: bold;
}

.nav-links .premium:hover {
    transition: filter 0.3s ease, outline 0.2s ease;
    filter: brightness(1.125);
    outline: 2px solid var(--color-primary); /* Orámování kolem tlačítka pro zlepšení přístupnosti */
    outline-offset: 1.5px; /* Offset orámování */
}

/* Vyhledávací pole na desktopu */
.search-desktop {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    position: relative;
    width: 300px;
}

.search-form {
    display: flex;
    width: 100%;
    position: relative;
}

/* Vyhledávací pole na mobilním zařízení */
.search-mobile {
    display: none; /* Skrytí vyhledávacího pole na desktopech */
    position: fixed; /* V souladu s headrem je pole fixed, aby nám neujíždělo mimo obrazovku */
    top: 60px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--color-surface);
    z-index: 999;
}

/* Textové pole vyhledávání */
.search-input {
    width: 100%;
    padding: 10px 40px 10px 14px;
    border: 1px solid var(--color-surface-bright);
    border-radius: 8px;
    background-color: var(--color-surface-light);
    color: var(--text-muted);
    font-size: var(--font-size-md);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styl pro aktivní stav textového pole s měnící se barvou a stínem */
.search-input:focus {
    outline: none; /* Odstranění výchozího orámování */
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px #ffcc0033;
}

/* Tlačítko pro odeslání vyhledávání */
.search-submit {
    position: absolute; /* Absolutní pozice vzhledem k rodičovskému elementu. S absolutní pozicí můžeme volně manipulovat s pozicí tlačítka, aniž by se měnil rodičovský element */
    right: 8px; /* Odsazení od pravého okraje */
    top: 47.5%; /* Vertikální zarovnání tlačítka */
    transform: translateY(-50%); /* Pomocí funkce translate posuneme tlačítko nahoru o 50% */
    background: none;
    border: none;
    color: var(--text-dim);
    cursor: pointer;
    padding: 0 10px;
    font-size: var(--font-size-lg);
    transition: color 0.2s ease;
}

.search-submit:hover {
    color: var(--text-primary);
}

/* Tlačítko pro otevření vyhledávacího pole na mobilních zařízeních */
.search-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: var(--font-size-lg);
    cursor: pointer;
    padding: 8px;
    transform: translateY(2px); /* Menší zarovnání ikony*/
}

/* Tlačítko pro změnu režimu vysokého kontrastu */
.contrast-toggle {
    position: absolute;
    top: 90px;
    right: 10px;
    padding: 8px;
    border-radius: 50%;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.contrast-toggle:hover {
    transform: scale(1.1);
}

.contrast-toggle svg {
    display: block;
    width: 24px;
    height: 24px;
}

.toggle-icon {
    transition: transform 0.3s ease;
}

body.high-contrast .toggle-icon {
    transform: scaleX(-1);
}

/* Změna stylu za pomocí Media query pro zařízení s maximální šířkou 1300px */
@media screen and (max-width: 1300px) {
    .search-toggle, .search-mobile.active {
        display: block; /* Zobrazení tlačítka vyhledávání */
    }

    .search-desktop {
        display: none; /* Skrytí vyhledávacího pole pro desktop */
    }

    .burger-menu {
        display: flex; /* Zobrazení burger menu pro mobilní zařízení */
    }

    /* Změna vzhledu navigace v burger menu */
    .nav-links {
        display: none; /* Zobrazí se až po kliknutní na burger menu */
        flex-direction: column; /* Odkazy se zobrazí pod sebou */
        gap: 5px;
        background-color: var(--color-surface);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px;
        z-index: 999;
        align-items: center;
        width: 100%;
    }

    .nav-links.active {
        display: flex;
    }

    /* Další lehké úpravy pro přehlednost na mobilech */
    .nav-links li {
        width: 75%;
    }

    .nav-links li a {
        display: block;
        padding: 12px 16px;
    }

    .contrast-toggle {
        display: none;
        position: fixed;
        top: 50px;
        right: 11px;
        z-index: 1000;
    }

    .contrast-toggle:hover {
        transform: none;
    }

    .contrast-toggle.active {
        display: block;
    }
}

/* Horizontální čára oddělující header od zbytku obsahu */
.lines-header {
    border: none;
    height: 3px;
    background-color: #aec6cf;
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 75px;
    z-index: 999;
}

/* V Js se zvětší odsazení čáry při aktivním vyhledávání */
.lines-header.shifted-search { 
    margin-top: 130px;
}

/* To stejné pro burger menu s ještě větším odsazením */
.lines-header.shifted-menu {
    margin-top: 442px;
}

/* Kontejner hlavního obsahu */
/* Hlavní obsah s dolním odsazením */
.main-content {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px; /* Prostor mezi obsahem a footerem */
}
/* Hlavní článek s připojeným obrázkem a textem */
.featured-article {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    background: var(--color-surface);
    border-radius: 8px;
    overflow: hidden; /* Skryje obsah, který by mohl přesahovat okraje elementu */
}

/* Obsah článku */
.featured-article-content {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.featured-article-content h1 {
    margin-bottom: 8px;
}

.featured-article a img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Zajistí, aby se obrázek přizpůsobil velikosti elementu */
}

.featured-article h1 {
    font-size: var(--font-size-xl);
    margin-bottom: 10px;
}

.featured-article-description {
    font-size: var(--font-size-md);
    color: var(--text-secondary);
    line-height: 1.25;
    margin: 5px 5px 10px 0;
}

/* Seznam článků */
.article-description {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    margin: 5px 0;
    line-height: 1.25; /* Výška řádku pro lepší čitelnost */
}

.small-article-description {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    margin-top: 8px;
    line-height: 1.5; /* Výška řádku pro lepší čitelnost */
}

.date-author {
    color: var(--text-muted);
    font-size: var(--font-size-xs);
    margin-top: 10px;
}

.read-more {
    color: var(--color-secondary);
}

.read-more:hover {
    transition: filter 0.3s ease, outline 0.2s ease;
    filter: brightness(1.125);
}

/* Styl pro statistiky článku */
.featured-stats {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 12px;
    padding: 6px 10px 0 10px;
    border-radius: 4px;
}

.stat-item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
}

.stat-item svg {
    width: 16px;
    height: 16px;
}

/* Značka pro nejžhavější článek */
.hot-news-badge {
    position: absolute;
    bottom: 15px;
    padding: 4px 8px;
    margin-left: 7.5px;
    font-size: var(--font-size-md);
}

/* Rozložení hlavního článku na desktopu. Za použití min-width zaručíme se změní layout článku až když je šířka stránky nižší než 1000px*/
@media (min-width: 1000px) {
    .featured-article {
        flex-direction: row; /* Na desktopu bude obrázek a text vedle sebe */
        margin: 30px 20px;
        max-height: 400px;
    }

    .featured-article-content {
        width: 50%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .featured-article h1 {
        font-size: var(--font-size-xxl);
    }

    .hot-news-badge {
        top: 10px;
        right: 10px;
    }
}

/* Odkazy v nadpisech článků */
.article-link {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s;
}

.article-link:hover {
    text-decoration: underline;
}

/* Horizontálně zarovnané články */
.article-list-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Funkce repeat vytvoří tři sloupce s rovnoměrným rozložením obsahu (fr - fraction unit = představuje podíl dostupného prostoru) */
    gap: 20px; /* Odsazení mezi jednotlivými články */
    padding: 0 30px;
}

.article-list-horizontal .item img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0;
}

.article-list-horizontal .item h2 {
    font-size: var(--font-size-ml);
    color: var(--text-primary);
    margin-top: 5px;
}

/* Pro tablety se počet horizontálně zarovnaných článků změní na 2 */
@media (max-width: 1000px) {
    .article-list-horizontal {
        grid-template-columns: repeat(2, 1fr);
    }
    .article-list-horizontal .item:nth-child(9) {
        display: none;
    }
    .featured-stats {
        position: static;
        margin-top: 10px;
        justify-content: flex-end;
    }
}

/* Pro mobilní zařízení se počet horizontálně zarovnaných článků změní na 1 */
@media (max-width: 500px) {
    .article-list-horizontal {
        grid-template-columns: repeat(1, 1fr);
    }
    .article-list-horizontal .item:nth-child(9) {
        display: block;
    }
}

/* Vertikálně zarovnané články */
.article-list-vertical {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.article-list-vertical .list-item {
    display: flex;
}

.article-list-vertical .list-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
}

/* Styl obsahu vertikálních článků */
.list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-content h3 {
    font-size: var(--font-size-md);
    color: var(--text-primary);
    margin-top: 5px;
}

/* Kategorie článku */
.category {
    color: var(--color-secondary);
    font-size: var(--font-size-xs);
    font-weight: bold;
    margin-bottom: 5px;
}

/* Dělení skecí (čára) */
.section-divider {
    border: none;
    height: 1px;
    background-color: #555555;
    margin: 40px 0;
}

/* FOOTER */
/* Základní styl footeru*/
.footer {
    background-color: var(--color-surface);
    padding: 32px 24px 24px;
    font-size: var(--font-size-sm);
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Horizontální čára oddělující zbytek obsahu od footeru */
.footer-line {
    border: none;
    height: 3px;
    background-color: #aec6cf;
}

.footer-brand, .footer-links, .footer-social {
    text-align: center;
    width: 100%;
}

.footer-brand img {
    height: 40px;
    margin-bottom: 10px;
}

.footer-brand p {
    font-size: var(--font-size-sm);
    color: var(--text-primary);
    margin-top: 10px;
}

.footer-links h4, .footer-social h4 {
    font-size: var(--font-size-ml);
    color: #ffffff;
    margin-bottom: 14px;
}

/* Seznam odkazů ve footeru */
.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    text-decoration: underline;
    text-decoration-color: var(--color-primary);
    text-underline-offset: 2px; /* Adjust the underline offset */
}

/* Tlačítko pro premium obsah ve footeru */
.premium-button-footer {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background: var(--color-primary);
    border-radius: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.premium-button-footer:hover {
    transition: filter 0.3s ease, outline 0.2s ease;
    filter: brightness(1.125);
    outline: 1px solid var(--color-primary); /* Orámování kolem tlačítka pro zlepšení přístupnosti */
    outline-offset: 1.5px; /* Offset orámování */
}

/* Rozložení ikon sociálních sítí */
.footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-social .social-icons a img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
}

.footer-social .social-icons a:hover img {
    transform: scale(1.1); /* Plynulá změna velikosti ikony při najetí myší */
}

.footer hr {
    width: 20%;
    margin: 20px auto 20px auto;
}

.copyright {
    font-size: 12px;
    color: #999999;
    line-height: 1.25;	
}

/* Předplatné */
/* Základní styl pro předplatné */
.subscription-container {
    z-index: 1001;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    animation: slideIn 0.69s ease-out; /* Inicializace animace slideIn, která vytváří efekt vysunutí stránky zespodu nahoru s postupným zprůhledněním */
}

@keyframes slideIn { /* Definice nové CSS animace */
    0% { /* Počáteční stav: stránka je mimo obrazovku a je zcela průhledná */
        transform: translate(-50%, 150%);
        opacity: 0;
    }
    100% { /* Koncový stav: stránka se postupně vrátila na svojí původní pozici a je plně viditelná */
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.subscription-header h1 {
    margin-bottom: 20px;
    font-size: var(--font-size-xxxl);
}

.close-button {
    position: absolute; /* Absolutní pozice vzhledem k rodičovskému elementu */
    top: 8px; /* Odsazení od horního okraje */
    right: 16px; /* Odsazení od pravého okraje */
    background: none;
    border: none;
    color: var(--text-dim);
    font-size: var(--font-size-xl);
    text-decoration: none;
    transition: color 0.2s ease; /* Plynulá změna barvy při najetí myší, viz. .close-button:hover */
}

.close-button:hover {
    color: var(--text-primary);
    text-decoration: underline;
}

/* Tlačítka s nabídkou délky předplatného */
.subscription-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

/* Sada tlačítek se přemění na dropdown menu pro zlepšený vzhled na mobilních zařízení */
.subscription-dropdown {
    display: none; /* Skrytí dropdown menu pro desktopové zařízení */
    width: auto;
    margin: 0 auto 20px;
}

.subscription-dropdown select {
    width: 100%;
    padding: 12px;
    background-color: var(--color-surface-light);
    border: 1px solid var(--color-surface-bright);
    border-radius: 4px;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    cursor: pointer; /* Ukazatel myši se změní na ručku pro lepší interaktivitu s uživatelem (desktop) */
}

.subscription-dropdown select:focus {
    outline: none; /* Odstranění defaultního rámečku kolem vybraného pole, zaměnění za žlutou */
    border-color: var(--color-primary);
}

.subscription-option {
    flex: 1; /* Rozdělení tlačítek na stejně velké části */
    padding: 12px;
    background-color: var(--color-surface-light);
    border: none;
    border-radius: 4px;
    color: var(--text-primary);
    cursor: pointer;
}

.subscription-option.active {
    background-color: var(--color-surface-bright);
}

.subscription-option:hover {
    transition: transform 0.15s ease, background-color 0.2s;
    background-color: var(--color-surface-bright); /* Změna barvy pozadí tlačítka při najetí myší */
    transform: scaleX(1.02); /* Zvětšení tlačítka při najetí myší */
}

.price-display {
    text-align: center;
    margin: 30px 0;
}

.price-description {
    font-size: var(--font-size-sm);
    color: var(--text-dim);
}

.price-cost {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-primary);
    margin: 10px 0;
}

.next-payment {
    margin-bottom: 20px;
}

/* Výběr platebních metod */
.payment-options { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.payment-option {
    display: flex;
    gap: 14px;
    padding: 14px;
    background-color: var(--color-surface-light);
    border-radius: 4px;
}

.payment-option input{
    position: relative;
    appearance: none; /* Odstranění nativního vzhledu radio ikony */
    width: 20px;
    height: 20px;
    flex-shrink: 0; /* Zabránění zmenšení ikony při změně šířky */
    border: 2px solid var(--color-surface-bright);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s ease; /* Plynulá změna všech vlastností */
}

.payment-option input:checked {
    border-color: var(--color-primary);
}

.payment-option input:checked::after {
    content: '';
    position: absolute;
    /* Následující kód zarovnává grafiku (ikonu) input elementu na střed kruhu */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: radioScale 0.2s ease;
}

/* Animace zvětšení ikony */
@keyframes radioScale {
    0% { transform: translate(-50%, -50%) scale(0); } /* Začátek animace: ikona je neviditelná, protože její velikost je nulová */
    100% { transform: translate(-50%, -50%) scale(1); } /* Konec animace: ikona se postupně (za 0.2 sekund) zvětšuje, dokud nedosáhne maxima (10px x 10px) a poté je plně viditelná */
}

/* Styl pro tlačítko objednání předplatného */
.submit-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--color-primary);
    font-size: var(--font-size-md);
    color: #000000;
    border: none;
    border-radius: 4px;
    letter-spacing: 1.25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transform-origin: center; /* Bod, kolem kterého se bude tlačítko zvětšovat */
}

.submit-button:hover {
    animation: crazyButton 0.8s infinite; /* Spuštění animace crazyButton s nekonečným opakováním */
    filter: brightness(1.2); /* Zvýšení jasu tlačítka */
    transition: all 0.3s ease; /* Plynulá přechod všech animací */
}

@keyframes crazyButton { /* Definice animace */
    0% {
        transform: scale(1) rotate(0deg); /* Počáteční stav: tlačítko je ve své původní velikosti a rotaci, výchozí stav */
        box-shadow: 0 0 0 0 #ffcc00b3; /* Tačítko nemá žádný stín */
    }
    25% {
        transform: scale(1.1) rotate(-3deg); /* Zvětšení tlačítka o 10% a otočení o 3 stupně při dosáhnutí 25% uplynulého času */
    }
    50% {
        transform: scale(1.05) rotate(3deg); /* V polovině animace se tlačítko zvětší o 5% a otočí se o 3 stupně na druhou stranu */
        box-shadow: 0 0 20px 10px #ffcc004d; /* Přidání stínu tlačítka */
    }
    75% {
        transform: scale(1.1) rotate(-3deg); /* Tlačítko se opět zvětší o 10% a otočí se o 3 stupně na první stranu */
    }
    100% {
        transform: scale(1) rotate(0deg); /* Konečný stav: tlačítko se vrátí do své původní velikosti a rotace */
        box-shadow: 0 0 0 0 #ffcc00b3; /* Tlačítko ztratí stín */
    }
}

.payment-terms {
    font-size: var(--font-size-xs);
    color: var(--text-dim);
    text-align: center;
    margin-top: 20px;
}

/* Změna stylu pro zařízení s maximální šířkou 675px, zmizí jednotlivá tlačítka a zobrazí se dropdown menu, postupné zmenšení textu a mezer mezi elementy */
@media screen and (max-width: 675px) { 
    .subscription-tabs {
        display: none;
    }

    .subscription-dropdown {
        display: block;
    }

    .subscription-header h1 {
        font-size: clamp(24px, 6vw, 32px); 
    }

    .payment-option span {
        font-size: clamp(12px, 2.75vw, 14px);
    }

    .payment-options {
        gap: 10px;
        margin: 10px 0;
    }

    .submit-button {
        margin-top: 15px;
    }

    .subscription-container{
        padding: 20px;
        max-height: 670px;
        top: 51%;
    }
}