/* Base settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom properties */
:root {
    /* Colors */
    --color-primary: #ffcc00;
    --color-secondary: #fee7bf;
    --color-background: #1e1e1e;
    --color-surface: #292929;
    --color-surface-light: #333333;
    --color-surface-bright: #444444;
    
    /* Text colors */
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --text-muted: #aaaaaa;
    --text-dim: #7c7c7c;
    
    /* Typography */
    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-ml: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 28px;
    --font-size-xxxl: 32px;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    color: var(--text-primary);
}

/* HEADER */
/* Navigation menu */




/* Base header layout */
.header {
    width: 100%;
    padding: 15px;
    background-color: var(--color-surface);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.brand img {
    height: 40px;
}

.burger-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 28px;
    background-color: var(--color-surface-bright-bg);
    border: 2px solid var(--color-primary);
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
    padding: 4px;
    order: 3;
}

.burger-menu span {
    display: block;
    width: 24px;
    height: 3px;
    background: var(--text-primary);
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.burger-menu.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
}

.burger-menu.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-grow: 1;
    justify-content: center;
    text-align: center; /* Center text alignment for burger menu */
}

.nav-links li a {
    padding: 8px 16px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: var(--font-size-ml);
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-links li a:hover {
    color: var(--color-primary);
}

.nav-links .premium.no-highlight {
    color: #000000;
}

.nav-links .premium {
    padding: 8px 16px;
    background-color: var(--color-primary);
    border-radius: 4px;
    font-weight: bold;
}

.nav-links .premium:hover {
    transition: filter 0.3s ease;
    filter: brightness(1.2);
}

/* Desktop search */
.search-desktop {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
}

.search-desktop .search-form {
    position: relative;
    width: 300px;
}

/* Mobile search */
.search-mobile {
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--color-surface);
    z-index: 999;
}

/* Shared search styles */
.search-form {
    display: flex;
    width: 100%;
    position: relative;
}

.search-input {
    width: 100%;
    padding: 10px 40px 10px 14px;
    border: 1px solid var(--color-surface-bright);
    border-radius: 8px;
    background-color: var(--color-surface-light);
    color: var(--text-muted);
    font-size: var(--font-size-md);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: var(--color-primary);
    box-shadow: 0 0 0 2px #ffcc0033;
}

.search-submit {
    position: absolute;
    right: 8px;
    top: 47.5%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--text-dim);
    cursor: pointer;
    padding: 0 10px;
    font-size: var(--font-size-lg);
    transition: color 0.2s ease;
}

.search-submit:hover {
    color: var(--text-primary);
}

.search-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    transform: translateY(2px);
}

@media screen and (max-width: 1400px) {
    .search-toggle, .search-mobile.active {
        display: block; /* Show the toggle button for mobile */
    }

    .search-desktop {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .burger-menu {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        gap: 5px;
        background-color: var(--color-surface);
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        padding: 15px;
        z-index: 999;
        align-items: center; /* Center items horizontally */
        width: 100%; /* Full width for proper centering */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        width: 75%;
    }

    .nav-links li a {
        display: block; /* Make links block level for full clickable area */
        padding: 12px 16px; /* Slightly larger padding for mobile */
    }
}

/* Breadcrumb navigation */
.breadcrumb {
    margin: 20px 30px;
    font-size: var(--font-size-xs);
  }
  
  .breadcrumb a {
    color: var(--text-dim);
    text-decoration: none;
  }
  
  .breadcrumb a:hover {
    text-decoration: underline;
  }

  .breadcrumb-separator {
    color: var(--text-dim); /* Same color as the breadcrumb links */
    margin: 0 2px 0 4px;    /* Optional: add spacing around the separator */
    white-space: nowrap; /* Prevents the separator from wrapping */
    display: inline-block; /* Allows the transform to work properly */
    transform: scaleY(1.5); /* Scales the separator height by 1.5 times */
}



/* Main content container */
/* Hlavní obsah s dolním odsazením */
.main-content {
    padding-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 40px; /* Prostor mezi obsahem a footerem */
}

/* Hlavní nadpis */
.section-title {
    position: relative; /* Nutné pro správné zarovnání */
    font-size: var(--font-size-xxl); /* Velikost textu */
    font-weight: 800; /* Zvýraznění */
    margin: 0 0 50px; /* Odsazení od ostatního obsahu */
    text-transform: uppercase; /* Velká písmena pro formálnější vzhled */
    letter-spacing: 1px; /* Lehké mezery mezi písmeny */
    padding: 0 30px; /* Odsazení od okraje */
    padding-bottom: 10px;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 80%; /* Full width of the title */
    height: 2px; /* Thickness of the underline */
    background: linear-gradient(to right, var(--color-primary), transparent); /* Gradient from yellow to transparent */
}

.section-title.no-after {
    margin: 0;
}

.section-title.no-after::after {
    content: none; /* Disable the ::after pseudo-element */
}

.alternate-title {
    padding: 0 30px;
    font-size: var(--font-size-sm);
    font-weight: bold;
    color: var(--text-secondary);
    /* margin-bottom: 20px; - clashing margins */
}

/* Featured article with connected image and text */
.featured-article {
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    background: var(--color-surface);
    border-radius: 8px;
    overflow: hidden;
}

.featured-article-content {
    flex: 1;
    padding: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.featured-article-content h1 {
    margin-bottom: 8px;
}

.featured-article a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.featured-article h1 {
    font-size: var(--font-size-xl);
    margin-bottom: 10px;
}

.featured-article-description {
    font-size: var(--font-size-md);
    color: var(--text-secondary);
    margin: 5px 0;
}

.article-description {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    margin: 5px 0;
    line-height: 1.25; /* Výška řádku pro lepší čitelnost */
}

.small-article-description {
    font-size: var(--font-size-sm); /* Velikost textu náhledu */
    color: var(--text-secondary); /* Barva textu náhledu */
    margin-top: 8px;
    line-height: 1.5; /* Výška řádku pro lepší čitelnost */
}

.date-author {
    color: var(--text-muted);
    font-size: var(--font-size-xs);
    margin-top: 10px;
}

@media (min-width: 900px) {
    .featured-article {
        flex-direction: row;
        margin: 30px 20px;
        max-height: 400px;
    }

    .featured-article img {
        width: 50%;
        height: 400px;
    }

    .featured-article-content {
        width: 50%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .featured-article h1 {
        font-size: var(--font-size-xxl);
    }
}

/* Odkazy v nadpisech článků */
.article-link {
    color: var(--text-primary);
    text-decoration: none;
    transition: color 0.3s;
}

.article-link:hover {
    color: var(--color-primary);
}

/* Horizontal grid article list*/
.article-list-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns by default */
    gap: 20px;
    padding: 0 30px;
}

.article-list-horizontal .item img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 0;
}

.article-list-horizontal .item h2 {
    font-size: var(--font-size-ml);
    color: var(--text-primary);
    margin-top: 5px;
}

/* Mobile layout */
@media (max-width: 900px) {
    .article-list-horizontal {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

/* Vertical grid article list */
.article-list-vertical {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
}

.article-list-vertical .list-item {
    display: flex;
}

.article-list-vertical .list-item img {
    width: 120px;
    height: 120px;
    object-fit: cover; /* Prevents image distortion */
    margin-right: 15px;
}

.category {
    color: var(--color-secondary);
    font-size: var(--font-size-xs);
    font-weight: bold;
    margin-bottom: 5px;
}

.list-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-content h3 {
    font-size: var(--font-size-md);
    color: var(--text-primary);
    margin-top: 5px;
}

/* Divider */
.section-divider {
    border: none;
    height: 1px;
    background-color: #555555;
    margin: 40px 0;
}

/* FOOTER */
/* Footer styling */
.footer {
    background-color: var(--color-surface);
    font-family: Arial, sans-serif;
    padding: 20px;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    text-align: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-brand, .footer-links, .footer-premium, .footer-social {
    text-align: center;
    width: 100%;
}

.footer-brand img {
    height: 40px;
    margin-bottom: 10px;
}

.footer-brand p {
    font-size: 14px;
    color: #cccccc;
    margin-top: 10px;
}

.footer-links h4, .footer-premium h4, .footer-social h4 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-links ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #ffcc00;
}

.footer-premium p a {
    color: #ffcc00;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-premium p a:hover {
    color: #ffffff;
}

.footer-social .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.social-icons a:hover img {
    transform: scale(1.1);
}

.footer hr {
    width: 20%;
    margin: 20px auto 20px auto;
}

.copyright {
    font-size: 12px;
    color: #999999;
}

/* CLANEK */
/* Kontejner pro článek */
.article-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 125px 30px;
}

/* Úvodní obrázek */
.article-content img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
}

/* Nadpis a informace o článku */
.article-header {
    margin-bottom: 20px;
}

.article-header h1 {
    font-size: var(--font-size-xxxl);
    margin-bottom: 10px;
}

.article-info {
    display: flex;
    align-items: center;
    font-size: var(--font-size-sm);
    padding-bottom: 24px;
    color: var(--text-muted);
}

.article-info .author {
    font-weight: bold;
    color: var(--color-secondary);
}

.article-info .icon {
    border-radius: 50%;
    max-width: 100%;
    width: 45px;
    height: 45px;
}

.article-info .author-image {
    display: inline-flex;
    margin-right: 10px;
}

.article-info .group {
    display: flex;
    flex-direction: column;
}

/* Hlavní text článku */
.article-content {
    font-size: var(--font-size-md);
    line-height: 1.5;
    color: var(--text-secondary);
}

.article-content h2 {
    font-size: var(--font-size-xl);
    margin: 20px 0 10px;
}

.article-content p {
    margin-bottom: 15px;
}

.article-quote blockquote {
    margin-bottom: 15px;
}

/* Doporučené články */
.recommended-articles {
    max-width: 1200px;
    margin: 0 auto 40px;
    padding-top: 20px;
    border-top: 1px solid #555555;
}

.recommended-articles h2 {
    margin: 0 0 5px 10px;
}

/* Horizontální rozložení doporučených článků */
.recommended-article-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Zabrání zalomení položek na další řádek */
    gap: 20px;
    padding-top: 10px;
}

.recommended-article-list .list-item {
    display: flex;
    align-items: center;
    width: 30%; /* Každý článek zabere přibližně třetinu šířky */
    max-width: 400px;
}

.recommended-article-list .list-item img {
    border-radius: 8px;
    margin-right: 15px;
}

@media screen and (max-width: 800px) {
    .recommended-article-list {
        flex-direction: column;
        padding: 0 15px;
    }
    
    .recommended-article-list .list-item {
        width: 90%; /* Wider items in column layout */
    }

    .recommended-articles h2 {
        margin: 0 0 25px 15px;
        font-size: var(--font-size-ml);
    }
}

/*Komentáře*/
/* Comments section - Mobile first */
.comments-section {
    padding: 20px 15px;
    margin: 30px 0;
    background-color: var(--color-surface);
    border-radius: 8px;
}

.comments-section h2 {
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
    color: var(--text-primary);
}

.comment-form {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row; /* Change to row to place button next to input */
    gap: 10px;
    align-items: stretch; /* Make children stretch to match heights */
}

.comment-input {
    flex: 1;
    min-height: 50px;
    padding: 12px;
    border: 1px solid var(--color-surface-light);
    border-radius: 8px;
    background-color: var(--color-surface-bright);
    color: var(--text-primary);
    resize: vertical;
}

.comment-submit {
    align-self: stretch; /* Make button stretch to match input height */
    padding: 0 25px;
    background-color: var(--color-primary);
    color: var(--color-background);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.comment-submit:hover {
    filter: brightness(1.1);
}

.comments-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment {
    display: flex;
    gap: 15px;
    padding: 15px;
    background-color: var(--color-surface-light);
    border-radius: 8px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-body {
    flex: 1;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.comment-header h3 {
    font-size: var(--font-size-md);
    color: var(--text-primary);
}

.comment-date {
    font-size: var(--font-size-xs);
    color: var(--text-muted);
}

.comment-body p {
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    line-height: 1.5;
}

/* Desktop styles */
@media (min-width: 768px) {
    .comments-section {
        padding: 30px;
        margin: 40px 0;
    }

    .comment-form {
        flex-direction: row;
        align-items: flex-start;
    }

    .comment-input {
        flex: 1;
    }

    .comment-submit {
        padding: 12px 30px;
    }

    .comment {
        padding: 20px;
    }

    .comment-avatar img {
        width: 50px;
        height: 50px;
    }
}

/*Sdílení článku*/
.social-share {
    display: flex; /* Use flexbox for inline alignment */
    align-items: center;
    justify-content: flex-end; /* Align to right */
    gap: 1rem; /* Add spacing between the heading and the icons */
    margin-left: auto;
    padding: 20px 0;
}

.social-icons {
    margin: 0;
    display: flex;
    gap: 10px;
}

.social-icons a img {
    width: 20px; /* Set a standard size for the icons */
    height: 20px;
}

.social-share p {
    font-size: smaller;
    color: var(--text-muted);
}

/* POCASI */
/* Weather Forecast Grid */

.forecast-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 16px;
    margin: 32px;
    padding: 0 30px;
}

.forecast-card {
    background-color: var(--color-surface);
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.forecast-card:hover {
    transform: translateY(-3px);;
}

.forecast-card:hover .day {
    color: var(--color-primary);
    transition: color 0.2s ease;
}

/* Navigation arrows for mobile */
.nav-arrow {
    position: absolute;
    background: var(--color-surface);
    border: none;
    color: var(--text-primary);
    font-size: var(--font-size-ml);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-arrow.right {
    display: none;
    left: 97.5%;
    top: 40%;
}

.nav-arrow.left {
    display: none;
    right: 97.5%;
    top: 40%;
}

.nav-arrow:hover {
    background: var(--color-surface-light);
    color: var(--color-primary);
}

.day {
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--text-primary);
}

.weather-icon {
    width: 72px;
    height: 72px;
    margin: 0 auto 8px;
}

.temp {
    font-size: var(--font-size-xl);
    font-weight: bold;
    margin-bottom: 8px;
    color: var(--text-primary);
}

.low-temp {
    color: var(--text-muted);
    font-size: var(--font-size-md);
}

.description {
    font-size: var(--font-size-md);
    color: var(--text-secondary);
    margin-top: 12px;
}

/* Hide default scrollbar for Chrome/Safari */
.forecast-grid::-webkit-scrollbar {
    display: none;
}

/* Scrollbar style */
.scroll-container {
    width: 50%; /* Take up 50% of the space */
    margin: 0 auto; /* Centering the container */
}

.scroll-indicator {
    position: relative;
    height: 4px;
    background-color: #333;
    border-radius: 2px;
    margin-top: 10px;
    overflow: hidden;
}

.scroll-thumb {
    position: absolute;
    height: 100%;
    width: 40%;  /* Represents visible portion */
    background-color: var(--text-primary);
    border-radius: 2px;
    left: 0px;  /* Start position */
    opacity: 0.8;
}

/* Scroll arrow indicators */
.scroll-arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: var(--text-dim);
    font-size: var(--font-size-xs);
}

/* Region Selector */
.region-select {
    margin: 32px;
    padding: 16px;
    width: calc(100% - 64px);
    background-color: var(--color-surface);
    border: 1px solid #444;
    border-radius: 8px;
    color: var(--text-primary);
    font-size: var(--font-size-md);
    cursor: pointer;
}

/* Style for dropdown when opened */
.region-select option {
    padding: 8px;
    background-color: var(--color-surface);
}

/* Limit height of dropdown */
.region-select[size] {
    height: 100px;
    overflow-y: auto;
}

/* Map Container */
.map-container {
    position: relative;
    margin: 16px 64px;
    padding: 32px;
    background-color: var(--color-surface);
    border-radius: 8px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.region-weather-grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.weather-box {
    position: absolute;
    background-color: #292929e6;
    padding: 8px 16px;
    border-radius: 6px;
    text-align: center;
    max-width: 80px;
    box-shadow: 0 2px 4px #00000033;
    transition: transform 0.2s ease;
    pointer-events: auto;
}

.weather-box:hover {
    transform: scale(1.025);
    z-index: 2;
}

.weather-box-icon {
    width: clamp(48px, 4vw, 48px);
    height: auto;
}

.weather-box .temp {
    font-size: var(--font-size-ml);
    font-weight: bold;
    color: var(--text-primary);
}

.weather-box .low-temp {
    font-size: var(--font-size-sm);
    color: var(--text-muted);
}

.weather-map {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.date-overlay {
    position: absolute;
    top: 16px;
    left: 16px;
    padding: 8px;
    background-color: rgba(41, 41, 41, 0.8); /* Optional: semi-transparent background */
    border-radius: 4px;
    font-size: var(--font-size-sm);
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .weather-box {
        display: none;
    }
    .scroll-arrows {
        display: none;
    }
    .weather-map {
        width: 90%;
    }
    .nav-arrow.right {
        display: flex;
    }
    .nav-arrow.left {
        display: flex;
    }
    .forecast-card:nth-child(7), .forecast-card:nth-child(6), .forecast-card:nth-child(5) {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .map-container {
        padding: 0;
        height: auto;
        margin: 8px 24px;
    }
    .date-overlay {
        display: none;
    }
    .forecast-card:nth-child(4), .forecast-card:nth-child(3) {
        display: none;
    }
}

/* VYHLEDAVANI */
/* Kontejner pro vyhledávací prvek */
.search-bar-container {
    margin: 24px 30px 40px 30px;
    max-width: 800px;
}

.search input[type="search"] {
    width: 100%;
    padding: 12px 40px 12px 16px;
    font-size: var(--font-size-md);
}

/* Stránkování */
.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 40px 0;
}

.pagination button {
    padding: 8px 16px;
    background-color: var(--color-surface);
    border: none;
    border-radius: 4px;
    color: var(--text-primary);
    cursor: pointer;
    min-width: 40px;
    font-size: var(--font-size-sm);
}

.pagination button:hover {
    transition: transform 0.1s ease, background-color 0.15s;
    background-color: var(--color-surface-light);
    transform: scaleX(1.025);
}

.pagination p {
    bottom: 10%;
    width: 18px;
    font-size: var(--font-size-ml);
}

/* PREMIUM */

.subscription-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 90px auto; /* auto = horizontální centrování na střed obrazovky (pravo = levo) */
    background-color: var(--color-surface);
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    animation: slideIn 0.42s ease-out; /* Inicializace animace slideIn, která vytváří efekt vysunutí stránky zespodu nahoru s postupným zprůhledněním */
}

@keyframes slideIn { /* Definice nové CSS animace */
    0% { /* Počáteční stav: stránka je mimo obrazovku a je zcela průhledná */
        transform: translateY(100%);
        opacity: 0;
    }
    100% { /* Koncový stav: stránka se postupně vrátila na svojí původní pozici a je plně viditelná */
        transform: translateY(0);
        opacity: 1;
    }
}

.subscription-header h1 {
    margin-bottom: 20px;
    font-size: var(--font-size-xxxl);
}

.close-button {
    position: absolute; /* Absolutní pozice vzhledem k rodičovskému elementu */
    top: 8px; /* Odsazení od horního okraje */
    right: 16px; /* Odsazení od pravého okraje */
    background: none;
    border: none;
    color: var(--text-dim);
    font-size: var(--font-size-xl);
    text-decoration: none;
    transition: color 0.2s ease; /* Plynulá změna barvy při najetí myší, viz. .close-button:hover */
}

.close-button:hover {
    color: var(--text-primary);
}

/* Tlačítka s nabídkou délky předplatného */
.subscription-tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

/* Sada tlačítek se přemění na dropdown menu pro zlepšený vzhled na mobilních zařízení */
.subscription-dropdown {
    display: none; /* Skrytí dropdown menu pro desktopové zařízení */
    width: auto;
    margin: 0 auto 20px;
}

.subscription-dropdown select {
    width: 100%;
    padding: 12px;
    background-color: var(--color-surface-light);
    border: 1px solid var(--color-surface-bright);
    border-radius: 4px;
    color: var(--text-primary);
    font-size: var(--font-size-sm);
    cursor: pointer; /* Ukazatel myši se změní na ručku pro lepší interaktivitu s uživatelem (desktop) */
}

.subscription-dropdown select:focus {
    outline: none; /* Odstranění defaultního rámečku kolem vybraného pole, zaměnění za žlutou */
    border-color: var(--color-primary);
}

/* Změna stylu pro zařízení s maximální šířkou 675px, zmizí jednotlivá tlačítka a zobrazí se dropdown menu, postupné zmenšení textu */
@media screen and (max-width: 675px) { 
    .subscription-tabs {
        display: none;
    }

    .subscription-dropdown {
        display: block;
    }

    .subscription-header h1 {
        font-size: clamp(24px, 6vw, 32px); 
    }

    .payment-option span {
        font-size: clamp(12px, 2.75vw, 14px);
    }
}

.subscription-option {
    flex: 1; /* Rozdělení tlačítek na stejně velké části */
    padding: 12px;
    background-color: var(--color-surface-light);
    border: none;
    border-radius: 4px;
    color: var(--text-primary);
    cursor: pointer;
}

.subscription-option.active {
    background-color: var(--color-surface-bright);
}

.subscription-option:hover {
    transition: transform 0.15s ease, background-color 0.2s;
    background-color: var(--color-surface-bright); /* Změna barvy pozadí tlačítka při najetí myší */
    transform: scaleX(1.02); /* Zvětšení tlačítka při najetí myší */
}

.price-display {
    text-align: center;
    margin: 30px 0;
}

.price-description {
    font-size: var(--font-size-sm);
    color: var(--text-dim);
}

.price-cost {
    font-size: 36px;
    font-weight: bold;
    color: var(--text-primary);
    margin: 10px 0;
}

.next-payment {
    margin-bottom: 20px;
}

/* Výběr platebních metod */
.payment-options { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px 0;
}

.payment-option {
    display: flex;
    gap: 14px;
    padding: 14px;
    background-color: var(--color-surface-light);
    border-radius: 4px;
}

.payment-option input{
    position: relative;
    appearance: none; /* Odstranění nativního vzhledu radio ikony */
    width: 20px;
    height: 20px;
    flex-shrink: 0; /* Zabránění zmenšení ikony při změně šířky */
    border: 2px solid var(--color-surface-bright);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s ease; /* Plynulá změna všech vlastností */
}

.payment-option input:checked {
    border-color: var(--color-primary);
}

.payment-option input:checked::after {
    content: '';
    position: absolute;
    /* Následující kód zarovnává grafiku (ikonu) input elementu na střed kruhu */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    animation: radioScale 0.2s ease;
}

/* Animace zvětšení ikony */
@keyframes radioScale {
    0% { transform: translate(-50%, -50%) scale(0); } /* Začátek animace: ikona je neviditelná, protože její velikost je nulová */
    100% { transform: translate(-50%, -50%) scale(1); } /* Konec animace: ikona se postupně (za 0.2 sekund) zvětšuje, dokud nedosáhne maxima (10px x 10px) a poté je plně viditelná */
}

.submit-button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: var(--color-primary);
    font-size: var(--font-size-md);
    color: #000000;
    border: none;
    border-radius: 4px;
    letter-spacing: 1.25px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transform-origin: center; /* Bod, kolem kterého se bude tlačítko zvětšovat */
}

.submit-button:hover {
    animation: crazyButton 0.8s infinite; /* Spuštění animace crazyButton s nekonečným opakováním */
    filter: brightness(1.2); /* Zvýšení jasu tlačítka */
    transition: all 0.3s ease; /* Plynulá přechod všech animací */
}

@keyframes crazyButton { /* Definice animace */
    0% {
        transform: scale(1) rotate(0deg); /* Počáteční stav: tlačítko je ve své původní velikosti a rotaci, výchozí stav */
        box-shadow: 0 0 0 0 #ffcc00b3; /* Tačítko nemá žádný stín */
    }
    25% {
        transform: scale(1.1) rotate(-3deg); /* Zvětšení tlačítka o 10% a otočení o 3 stupně při dosáhnutí 25% uplynulého času */
    }
    50% {
        transform: scale(1.05) rotate(3deg); /* V polovině animace se tlačítko zvětší o 5% a otočí se o 3 stupně na druhou stranu */
        box-shadow: 0 0 20px 10px #ffcc004d; /* Přidání stínu tlačítka */
    }
    75% {
        transform: scale(1.1) rotate(-3deg); /* Tlačítko se opět zvětší o 10% a otočí se o 3 stupně na první stranu */
    }
    100% {
        transform: scale(1) rotate(0deg); /* Konečný stav: tlačítko se vrátí do své původní velikosti a rotace */
        box-shadow: 0 0 0 0 #ffcc00b3; /* Tlačítko ztratí stín */
    }
}

.payment-terms {
    font-size: var(--font-size-xs);
    color: var(--text-dim);
    text-align: center;
    margin-top: 20px;
}

/* REDAKCE */

.content-section {
    padding: 0 30px;
}

.redakce-description {
    color: var(--text-secondary);
    font-size: var(--font-size-md);
    line-height: 1.5; /* Lehké odřádkování odstavce pro dýchatelnost mezi řádky */
    margin-bottom: 30px;
}

.contact-block {
    background-color: var(--color-surface);
    padding: 30px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto 1fr; /* Vytvoří dva stejné sloupce (v tomto případě auto = první sloupec se automaticky změní podle šířky obsahu) */
    gap: 48px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-right h3 {
    font-size: var(--font-size-ml);
    margin-bottom: 10px;
}

.contact-right p {
    color: var(--text-primary);
    line-height: 1.2; /* Výška řádku pro lepší čitelnost */
    margin-bottom: 8px;
}

.contact-right .subsidiary-info {
    margin-top: 20px;
    color: var(--text-secondary);
    font-size: var(--font-size-sm);
    line-height: 1.5;
}

/* Týmový rošt */
.team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Vytvoří dva stejné sloupce (fr - fraction unit = představuje podíl dostupného prostoru) */
    gap: 32px;
    margin-top: 30px;
}

.team-section-title {
    position: relative;
    font-size: var(--font-size-xl);
    letter-spacing: 1px; /* Lehké mezery mezi jednotlivými písmeny */
    margin-top: 40px;
    padding-bottom: 10px;
}

/* Podtržítko pod nadpisem pro lepší vizuální oddělení */
.team-section-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -10px; /* Menší levé odsazení pro esoterický vzhled */
    width: 80%;
    height: 2px;
    background: linear-gradient(to right, #FEE7BC, transparent); /* Gradient ze žluté na neviditelný odstín */
}

.team-member {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
    padding: 20px;
    border-radius: 8px;
}

.team-member-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.member-info h3 {
    color: var(--text-primary);
    margin-bottom: 5px;
}

.member-info p {
    color: var(--text-secondary);
    font-size: var(--font-size-sm);
}

/* Sociální ikony */
.social-icons {
    display: flex;
    gap: 5px;
}

.social-icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0; /* Zabránění zmenšení ikony při úbytku šířky stránek */
    align-items: center;
    justify-content: center;
    /*background-color: var(--color-background);*/
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.1); /* Zvětšení ikony při najetí myší - legitimace responzivity */
}


/* Barvy pro jednotlivé sociální sítě 
.instagram {
    background-color: #E4405F;
}

.facebook {
    background-color: #1877F2;
}

.tiktok {
    background-color: #1a1919;
}

.twitter {
    background-color: #000000;
}
*/

/* Nastavení ikony email, telefon a LinkedIn */
.contact-choice {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-choice a {
    color: var(--text-primary);
    text-decoration: none;
    font-size: var(--font-size-sm);
    font-weight: bold;
}

.icon-position {
    position: absolute; /* Připnutí ikon na správná místa */
    transition: transform 0.2s ease;
}

.email-icon {
    top: 12px;
    right: 50px;
}

.linkedin-icon {
    top: 14px;
    right: 16px;
}

/* Zábavná animace ikon */
.email-icon:hover, .linkedin-icon:hover {
    transform: rotate(10deg);
}

/* REDAKCE - RESPONZIVITA */
@media screen and (max-width: 832px) {
    /* Týmový rošt a blok kontaktů se změní na jednosloupcový layout */
    .team-grid {
        grid-template-columns: 1fr; /* Jeden sloupec */
        gap: 24px;
    }

    .contact-block {
        display: flex;
        gap: 24px;
        padding: 24px;
        flex-direction: column;
    }

    .contact-left {
        order: 1; /* Uspořádání prvků v bloku kontaktů */
    }

    .contact-right p {
        margin-bottom: 16px;
    }

    /* Drobné úpravy jednotlivých elementů, mění se jejich velikost a pozice pro lepší orientaci a čitelnost na mobilních zařízení */
    .social-icons {
        gap: 5px;
        justify-content: right;
    }
    
    .social-icon {
        width: 32px;
        height: 32px;
    }

    .social-icon svg {
        width: 20px;
        height: 20px;
        transform: translate(28%, 28%); /* Kvůli měnící se velikosti ikony se musí znovu vypočítat zarovnaní na střed */
    }

    .content-section {
        padding: 0 20px;
    }

    .team-member {
        padding: 16px;
    }
    
    .team-member-img {
        width: 72px;
        height: 72px;
        margin-right: 16px;
    }

    .section-title  {
        margin: 0 0 25px;
    }

    /* Na stránkách se přestane zobrazovat popis článku. Pro ušetření kódu jsem to přidal jsem, aby se nemuselo inicializovat další @media pravidlo */
    .list-content p { 
        display: none;
    }
}